@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.terms_conditions {
  z-index: 9999;
  background-color: #fff;
  width: 420px;
  position: absolute;
  max-height: calc(100vh - 40px);
  height: auto;
  margin-left: calc(50vw - 210px);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
  border-radius: 5px;
  display: none;
}

.terms_conditions .title {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.terms_conditions .txt {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 13px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.loader-login {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 18px;
}

.input-group{
  position: relative;
  display: inline-table;
  border-collapse: separate;
  width: 100%;
}

.input-group .symbol{
  padding: 6px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  width: 40px;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  border-right: 0px solid;
}

.input-group .symbol .fa{
  font-size: 22px;
}

.input-group .input{
  width: 100%;
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  vertical-align: middle;
  height: 30px;
  padding: 3px 0px;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: transparent;
  background-image: none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 0px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance: none;
}

input:focus{
  background: rgba(0,0,0,.1);
  outline: none;
  border: 0px;
}

.p-b-20{
  padding-bottom: 20px !important;
}

.p-t-20{
  padding-top: 20px !important;
}

.p-b-30{
  padding-bottom: 30px !important;
}

.p-b-10{
  padding-bottom: 10px !important;
}

.txt-center{
  text-align: center;
}

.txt-color-w{
  color: #fff;
}

.f-21{
  font-size: 21px !important;
}

.btn-face{
  background-color: #3d5998;
}

.btn-face:hover{
  opacity: 0.8;
}

.btn-instagram{
  background-color: #bc2a8d;
}

.btn-instagram:hover{
  opacity: 0.8;
}

.btn-mail{
  border-color: #fff;
  border: 1px solid;
}

.btn-mail:hover{
  opacity: 0.8;
}

.btn-term{
  border-color: #fff;
  border: 1px solid;
}

.btn-term:hover{
  opacity: 0.8;
}

.btn-general{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  cursor: pointer;
  height: 29px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
}

.App {
  background-image: url('../img/fondo_web.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App .principal{
    width: 600px;
    min-height: calc(100vh - 213px);
    margin-left: calc(50vw - 300px);
}

.App .header .header-title{
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 3px;
}

.App .principal .img-wifi{
    padding-top: 20px;
}

.App .principal .box-connect{
    width: 300px;
    margin-left: 150px;
}

.App .principal .box-email{
  width: 400px !important;
  margin-left: 100px !important;
  background-color: rgba(0,0,0,.8);
  margin-top: 20px;
}

.App .principal .box-email .form-email{
  margin: 0px 20px;
}

.App .principal .box-email .form-email .btn-email-content{
  padding-top: 10px;
  padding-bottom: 30px;
}

.App .principal .box-email .form-email .btn-email-content .btn-reg-email{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  background-color: #de2637;
  border: 0px;
  cursor: pointer;
  width: 100%;
  height: 35px;
  vertical-align: middle;
}

.App .principal .box-connect .title-1{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 3px;
}

.App .principal .box-connect .title-2{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.App .principal .box-connect .button{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 3px;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 10px;
  height: 35px;
}

.App .principal .box-connect .button .btn-symbol{
  width: 70px;
  float: left;
  text-align: center;
  margin-top: 3px;
}

.App .principal .box-connect .button .txt-btn-login{
  /*position: relative;
  bottom: 6px;
  vertical-align: middle;*/
  float: left;
  padding-left: 10px;
  margin-top: 4px;
}

.App .principal .box-connect .button .txt-img-login{
  /*position: relative;
  right: 35px;*/
}

.App .principal .box-connect .terms{
  padding-top: 10px;
}

.App .principal .box-connect .terms .link{
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  bottom: 7px;
  position: relative;
}

.App .principal .box-connect .terms .check{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin: 0 15px 0 0;
}
.App .principal .box-connect .terms .label-check{
  padding-right: 10px;
}

.App .principal .box-connect .terms .check + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 32px;
}

.App .principal .box-connect .terms .check {
    display: none;
}

.App .principal .box-connect .terms .check + label:before { 
    content: "\f096"; 
    letter-spacing: 10px;
}

#terms:checked + label:before {
    content: '\f046';
}

#terms:focus{
    outline: none;
}

.App .principal .footer{
  font-size: 10px;
  /*font-weight: bold;*/
  padding-top: 10px;
  padding-bottom: 20px;
}

.App .principal .box-wifi-ok .line{
  border: 1px solid #de2637;
}

.App .principal .box-wifi-ok .symbol-ok{
  padding: 10px 0px;
}

.App .principal .box-wifi-ok .symbol-ok .ok{
  color: #de2637;
  font-size: 80px;
  font-weight: 100;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    z-index: 9999;
    display: none;
}

.loader .spin{
  text-align: center;
  color: #fff;
  font-size: 40px;
  position: relative;
  top: calc(50% - 60px);
}

#load {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 426px) {
  .App {
    background-image: url('../img/fondo_mobile.jpg');
  }

  .App .principal{
      margin-left: 0px;
      width: 100%;;
  }

  .App .principal .box-connect{
      margin: 0px auto !important;
  }

  .terms_conditions {
    width: calc(100vw - 10px);
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }    
}

@media only screen and (max-width: 376px) {
  .App .principal .box-email{
      width: 100% !important;
  }    
}
